body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#span{

    color:orange;
}

h1{
    font-size: 50px;
}

.button_Link{

    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato );
    border-radius: 10px;
    color: black;
}


.Column{
    
    width: 50%;
    padding-left: 5%;
    padding-right: 6%;
}

.Image{

    max-width: 70%;

}

.top_banner{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}
section{

    margin-bottom: 100px;
}

.flexible_container{
    display: flex;
    margin-bottom: 100px;
}
.dream_big{
    
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    
    background-position: right ;

}

.Experience{

    padding-left: 5%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}

.Column_Shadow{
    
    width: 40%;
    padding-left: 5%;
    padding-right: 6%;
    margin-left: 5%;
    margin-right:5%;
    box-shadow: 10px 10px 40px gray;
}